{# Output string variable. #}
<p>{{ custom_string }}</p>

{# Output values from the array. #}
<strong>{{ custom_data.age }}:</strong>
{{ custom_data.DOB }}<br>

{# Output array in for loop. #}
{% for key,value in data %}
	<strong>{{ key }}:</strong>
	{{ value }}<br>
{% endfor %}
