{#
/**
 * @file
 * Theme override to display a "verified reviews" type block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - in_preview: Whether the plugin is being rendered in preview mode.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    <div>
      <h2>{{ content.field_title}}</h2>
    </div>
    <div>
      {# Google Customer Reviews badge #}
      <script src="https://apis.google.com/js/platform.js?onload=renderBadge" async defer></script>
      <script>
        window.renderBadge = function() {
          var ratingBadgeContainer = document.createElement("div");
          document.body.appendChild(ratingBadgeContainer);
          window.gapi.load('ratingbadge', function() {
            window.gapi.ratingbadge.render(ratingBadgeContainer, {"merchant_id": 111040695});
          });
        }
      </script>
    </div>
      {# Verified Reviews badge #}
    <div>
      <div id="de2e38fe-4042-4f6a-aaec-b114e910de74"></div>
      <script async charset="utf-8" src="https://widgets.rr.skeepers.io/generated/3a985ddb-95cb-b334-15ef-25e66dc92116/de2e38fe-4042-4f6a-aaec-b114e910de74.js"></script>
    </div>
    <div>
      <div class="skeepers_carousel_container" data-slides-count="3"></div>
      <script async charset="utf-8" src="//widgets.rr.skeepers.io/carousel/3a985ddb-95cb-b334-15ef-25e66dc92116/a3c49f5e-1d63-4f85-a76c-0c3cc802e45d.js"></script>
    </div>
    <div>
      {# Verified Reviews carousel #}
      <a href="https://www.avis-verifies.com/avis-clients/gazdebordeaux.fr">
        <span>{{ 'Voir tous  nos avis'|t }}</span>
      </a>
    </div>
  {% endblock %}
</div>
